body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #dad7cd;
}

header, nav, footer {
    background-color: #a3b18a;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
}